
/* green: #8fe415
black: black
gray: #1e1e1e */

body::-webkit-scrollbar {
    width: 0.5em;
    background-color: black;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-clip: content-box;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #8fe415;
  border-radius: 40px;
  outline: 1px solid slategrey;

}


#logo {
  padding: 5px;
  margin: 0;
  width: 35%;
  height: auto;
}


#page{
    background-color:#1e1e1e;
}

#header {
  position:fixed;
  height:100px;
  width:100%;
  background-color: black;
  z-index: 2;
  /* border-bottom: 1px white solid; */
}

h2.title {
  display:block;
    font-size: 25px;
    color: #8fe415;
    position: relative;
    padding-left: 40px;
    transform: rotate(-7deg);
    font-family: 'Titillium Web', sans-serif;
}

p.content {
  display:block;
  background-color: red;
  color:white;
  margin:150px;
  padding:40px;
}
.section{
  position:relative;
  height:500px;
  width:100%;
  background-color:#1e1e1e;
}



#navbar {
  position:absolute;
  top:30px;
  right:50px;
}

#main {
  position:relative;
  height:700px;
  width:100%;
}

#slogan {
  position:absolute;
  top:200px;
  left:350px;
  float:center;
  z-index:1;
  width:300px;
}

.slogan1 {
  color:white;
}
.slogan2 {
  color:#8fe415;
}

.nav-item {
  padding:10px;
  text-decoration: none;
  color:white;
  font-size: 20px;
}
.nav-item:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
    text-decoration-color: #8fe415;
}
.now {
}


@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
  
  font: bold 100% Consolas, Monaco, monospace;
  width: 10ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(26, end),
               blink-caret 5s step-end infinite alternate;
  
}
